<script type="text/template" id="loginPage">
    <div class="container">
        <div class="wrapper">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
            <!-- <div class="float-left box"> -->
                <!-- <h1 class="text-center login-title">Sign in to continue to Bootsnipp</h1> -->
                <div class="account-wall">
                    <img class="profile-img" src="images/photo.png?sz=120"
                        alt="">
                    <form class="form-signin">
                    <input type="text" class="form-control" placeholder="Email" required autofocus>
                    <input type="password" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in
                    </button>                    
                    </form>
                </div>
                <div class="text-center new-account">Not yet regiatered? <a href="#/signup/">Sign Up</a> here.</div>
                <a class="text-center  new-account" href="#/reset/password/">Forgot Password?</a>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="forgotPasswordPage">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
        
            <!-- Icon -->
            <div class="fadeIn first">
            <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
            <h1>Reset Password</h1>
            </div>
        
            <!-- Login Form -->
            <form id="ForgotPasswordForm">
            <input type="text" id="username" class="fadeIn second" name="username" placeholder="Email address">
            <input type="submit" class="fadeIn fourth" value="Send">
            </form>
        
            <!-- Remind Passowrd -->
            <div id="formFooter">
            <a class="underlineHover" href="javascript:void(0);">Reset link will be emailed to your email address.</a>
            </div>
        
        </div>
    </div>
</script>

<script type="text/template" id="samplePage">
    <h1>sample</h1>
</script>